
.WelcomeTree {
  width  : 20%;
  height:40%;
  /* position: fixed; */
  /* margin-top: -10px;
  margin-left: -160px; */
  margin: auto
}

.welcome-button {
width: 90%;
height: 80%;
float: right;
color: #fff;
font-size:30px;
}


.info-img {

  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
}

.growing {
display: block;
margin-left: auto;
margin-right: auto;

margin-top: auto;
margin-bottom: auto;
width: 150px;
height: 150px;
clip-path: inset(-100vh 0);
}

.growing:before {
content: "";
display: block;
width: 400%;
height: 100%;
background:
  /*1*/
  radial-gradient(farthest-side, #639510 97%, #0000) 12.5% 65%/12px 9px,
  linear-gradient(#996b52 0 0) 9% 80%/9.4% 9%,
  linear-gradient(#996b52 0 0) 10% 100%/7% 25%,
  linear-gradient(#639510 0 0) 12.5% 100%/5px 36%,
  /*2*/
  radial-gradient(farthest-side, #639510 97%, #0000) 35.5% 50%/15px 10px,
  radial-gradient(farthest-side, #639510 97%, #0000) 38% 64%/15px 10px,
  linear-gradient(#996b52 0 0) 35.5% 80%/9.4% 9%,
  linear-gradient(#996b52 0 0) 36% 100%/7% 25%,
  linear-gradient(#639510 0 0) 37% 100%/5px 52%,
  /*3*/
  radial-gradient(farthest-side, #fb3e4c 98%, #0000) 64.5% 40.5%/10px 9px,
  radial-gradient(farthest-side at bottom, #0000 calc(100% - 5px), #639510 0 100%, #0000)63.6% 34%/20px 10px,
  radial-gradient(farthest-side, #639510 97%, #0000) 61% 50%/15px 10px,
  radial-gradient(farthest-side, #639510 97%, #0000) 63.5% 64%/15px 10px,
  linear-gradient(#996b52 0 0) 63.5% 80%/9.4% 9%,
  linear-gradient(#996b52 0 0) 63.1% 100%/7% 25%,
  linear-gradient(#639510 0 0) 62% 100%/5px 62%,
  /*4*/
  radial-gradient(farthest-side at 50% 4px, #fb3e4c 98%, #0000) 88.1% 17.5%/17px 13px,
  radial-gradient(farthest-side, #639510 97%, #0000) 87% 50%/15px 10px,
  radial-gradient(farthest-side, #639510 97%, #0000) 89.5% 38%/15px 10px,
  radial-gradient(farthest-side, #639510 97%, #0000) 89.5% 64%/15px 10px,
  linear-gradient(#996b52 0 0) 91% 80%/9.4% 9%,
  linear-gradient(#996b52 0 0) 90% 100%/7% 25%,
  linear-gradient(#639510 0 0) 87.5% 100%/5px 77%;
background-repeat: no-repeat;
animation: m 4s .5s both;
/* animation-iteration-count: infinite; */
}

.home-block {
  height: 80px;
}
.fade-in {
  animation: fadeIn 5s;
}

.info-box {
  padding: 10px;
  height: 30px;
  font-size: 30px;


}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

:root {
  --body: #ff533e;
  --mouth: #000000;
  --feather: #939393;
  --beak-top: #e9581a;
  --beak-down: #aa4c21;
  --leg: #00adef;
  --body-color: #e3edf7;
}

/* 
body {
  background: var(--body-color);
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.container {
  width: 400px;
  height: 400px;
  position: relative;
}

.body,
.mouth,
.feather,
.tail,
.beak,
.mouth::before,
.mouth::after,
.leg,
.leg::after,
.leg::before {
  position: absolute;
}

.body,
.mouth,
.feather,
.beak,
.mouth::before,
.mouth::after {
  border-radius: 50%;
}

.body {
  top: 26px;
  left: 50px;
  height: 180px;
  width: 200px;
  transform: rotate(-17deg);
  background: linear-gradient(to bottom, transparent 0%, transparent 20%, var(--body) 20%);
  z-index: 2;
}

.mouth {
  background: var(--mouth);
  top: 20px;
  left: -175px;
  width: 100px;
  height: 100px;
  transform: rotate(-17deg);
  z-index: 5;
  animation: animate-mouth 1.5s forwards;
  animation-delay: 2s;
}

@keyframes animate-mouth {
  100% {
    left: 175px;
  }
}

.mouth::before {
  content: "";
  width: 30px;
  height: 30px;
  background: white;
  position: absolute;
  top: 20px;
  left: 40px;
}

.mouth::after {
  content: "";
  width: 10px;
  height: 10px;
  background: black;
  position: absolute;
  top: 30px;
  left: 55px;
  animation: animate-eye 1s infinite;
  animation-delay: 4s;
}

@keyframes animate-eye {
  50% {
    height: 5px;
  }
}


.feather {
  z-index: 4;
  left: 44px;
  top: -206px;
  width: 150px;
  height: 150px;
  background: linear-gradient(to bottom, transparent 0%, transparent 50%, var(--feather) 50%);
  transform: rotate(-17deg);
  animation: animate-feather 1.5s forwards;
  animation-delay: 2s;
}

@keyframes animate-feather {
  100% {
    top: -6px;
  }
}

.tail {
  width: 150px;
  height: 60px;
  background-color: var(--mouth);
  clip-path: polygon(0% 0%, 100% 0%, 100% 99%);
  top: 92px;
  left: 324px;
  transform: rotate(-18deg);
  z-index: 3;
  animation: animate-tail 1.5s forwards;
  animation-delay: 2s;
}

@keyframes animate-tail {
  100% {
    left: -24px;
  }
}

.beak {
  height: 100px;
  width: 100px;
  background: linear-gradient(to bottom, var(--beak-top) 0%, var(--beak-top) 15%, transparent 15%);
  left: 224px;
  top: 240px;
  z-index: -1;
  transform: rotate(-17deg);
  animation: animate-beak 1.5s forwards;
  animation-delay: 2s;
}

@keyframes animate-beak {
  100% {
    top: 40px;
  }
}

.leg {
  background: var(--leg);
  height: 50px;
  width: 10px;
  border-radius: 10px;
  top: 515px;
  left: 125px;
  transform: rotate(-15deg);
  z-index: 1;
  animation: animate-leg 1.5s forwards;
  animation-delay: 2s;
}

@keyframes animate-leg {
  100% {
    top: 215px;
  }
}

.leg::before {
  bottom: -8px;
  content: "";
  width: 40px;
  height: 9px;
  background: var(--leg);
  border-radius: 10px;
  transform: rotate(15deg);
  z-index: -1;
}

.leg::after {
  top: -8px;
  content: "";
  width: 30px;
  height: 9px;
  background: var(--leg);
  border-radius: 10px;
  transform: rotate(-15deg);
  z-index: -1;
}




@keyframes m {

  0%,
  20% {
    transform: translate(0%)
  }

  33.33%,
  53.33% {
    transform: translate(-24%)
  }

  66.66%,
  86.66% {
    transform: translate(-49.5%)
  }

  100% {
    transform: translate(-74.5%)
  }
}

@keyframes s {
  0% {
    inset: -100vh 49px 100vh 54px
  }

  10% {
    inset: -100vh 49px 42px 54px;
    opacity: 1
  }

  20% {
    inset: -100vh 49px 42px 54px;
    opacity: 0
  }

  20.01%,
  33.33% {
    inset: -100vh 49px 100vh 54px;
    opacity: 1
  }

  43.33% {
    inset: -100vh 49px 42px 54px;
    opacity: 1
  }

  53.33% {
    inset: -100vh 49px 42px 54px;
    opacity: 0
  }

  53.34%,
  66.66% {
    inset: -100vh 49px 100vh 54px;
    opacity: 1
  }

  76.66% {
    inset: -100vh 49px 42px 54px;
    opacity: 1
  }

  86.66%,
  100% {
    inset: -100vh 49px 42px 54px;
    opacity: 0
  }
}

